html {
  scroll-behavior: smooth;
}

body {
  // background-color: #0F0F0F;
  background-color: #663D39;
  color: #FAF6EC;
  font-family: korolev, sans-serif;
  font-weight: 500;
  height: 100vh;
}

.app {
  margin: 0 2em;
}

.title_section {
  font-size: 3rem;
  padding-bottom: 20px;
  border-bottom: solid 2px #FAF6EC;;
  // margin: 0 3%;
  margin-bottom: 50px;
  
}

section {
  display: flex;
  flex-direction: column;
}
