.topButton {
  z-index: 990;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: rgb(250, 246, 236, 0.8);
  background-image: url(../../assets/images/up-arrow.png);
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 15px;
  right: 15px;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s linear;  

  &-hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
  }
}
