.section_about {
  animation: displaySection 600ms ease-in;
  padding: 4em 2em;

  &--notvisibile {
    opacity: 0;
    animation: hiddenSection 600ms ease-in;
  }
}

.flexContainer_about {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
  // flex-wrap: wrap;

  & > * {
    flex-basis: 100%;
  }
}

.photo {
  width: 80%;
  // margin: auto;
  border-bottom-right-radius: 60px;
}

.container {
  display: grid;
  place-items: center;
  max-width: 50%;
  min-height: 400px;

  &_text {
    font-size: 1.5em;

    & p {
      margin-bottom: 1em;
    }
  }

  &_photo {
    // background-image: url(../../assets/images/david.jpeg);
    // background-position: center;
    // background-size: 50%;
    // background-repeat: no-repeat;
  }
}

@media screen and (max-width: 800px) {
  .flexContainer_about {
    flex-wrap: wrap;
    gap: 10px;
  }

  .container {
    max-width: 100%;
  }

  .photo {
    width: 80%;
  }
}

@keyframes displaySection {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0.25;
  }


  100% {
    opacity: 1;
  }
  
}

@keyframes hiddenSection {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0;
  }


  100% {
    opacity: 0;
  }
  
}
