.section_home {
  font-family: korolev, sans-serif;
  font-weight: 500;
  font-style: normal;
  display: grid;
  place-items: center;
  color: #FAF6EC;
}

.home_container {
  // width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 20em auto;
  
}

.title_main {
  font-size: clamp(2rem, 6vw + 1rem, 12rem);
  line-height: 1.05;
  // margin-right: 2em;

  &--primary {
    transform: translate(-40%);
    animation: slide-in 0.75s 0.3s ease-in-out forwards, txt-appearance 0.75s forwards;
    overflow: hidden;
    color: #FAF6EC;
  }

  &--secondary {
    margin-left: auto;
    margin-right: 1em;
    transform: translate(90%);
    animation: slide-in 0.95s 0.3s ease-in-out forwards, txt-appearance 0.90s forwards;
    overflow: hidden;
    color: #FAF6EC;
  }
  
}

.title_main--subtitle {
  font-size: clamp(1rem, 3vw + 1rem, 3rem);   
  font-weight: 300;
  font-style: italic;
  margin-left: 1.7em;
  transform: translate(-120%);
  animation: slide-in 0.75s 0.5s ease-in-out forwards, txt-appearance 1.95s forwards;
  overflow: hidden;
  color: #FAF6EC;
}

.focus {
  font-weight: 700;
}

// h1 {
//   transition: ease-in-out .3s;
//   transform-origin: translate(-150%);
//   transform: translate(0%);
// }


@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  100% {
    transform: translateX(100%);
  }
}

@keyframes txt-appearance {
  from {
    color: transparent;
  }

  to {
    color: #FAF6EC;
  }
}


