.section_home {
  font-family: korolev, sans-serif;
  font-weight: 500;
  font-style: normal;
  display: grid;
  place-items: center;
  color: #FAF6EC;
}

.home_container {
  // width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 20em auto;
  margin-top: 17em;
  
}

.title_main {
  font-size: clamp(2rem, 6vw + 2rem, 12rem);
  line-height: 1.05;
  // margin-right: 2em;

  &--primary {
    transform: translate(-40%);
    animation: slide-in 0.75s 0.3s ease-in-out forwards, txt-appearance 0.75s forwards;
    overflow: hidden;
    color: #FAF6EC;
  }

  &--secondary {
    margin-left: auto;
    margin-right: 1em;
    transform: translate(90%);
    animation: slide-in 0.95s 0.3s ease-in-out forwards, txt-appearance 0.90s forwards;
    overflow: hidden;
    color: #FAF6EC;
  }
  
}

.title_main--subtitle {
  font-size: clamp(1rem, 3vw + 1rem, 3rem);   
  font-weight: 300;
  font-style: italic;
  margin-left: 1.7em;
  transform: translate(-120%);
  animation: slide-in 0.75s 0.5s ease-in-out forwards, txt-appearance 1.95s forwards;
  overflow: hidden;
  color: #FAF6EC;
}

.focus {
  font-weight: 700;
}

// h1 {
//   transition: ease-in-out .3s;
//   transform-origin: translate(-150%);
//   transform: translate(0%);
// }

.scroll-downs {
  margin: auto;
  margin-top: 4em;
  width :34px;
  height: 55px;
}

.mousey {
  width: 3px;
  padding: 10px 15px;
  border: 2px solid #FAF6EC;
  height: 35px;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
  animation: mouse-appreance 1.30s linear forwards;
}

.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #FAF6EC;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

@keyframes mouse-appreance {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  100% {
    transform: translateX(100%);
  }
}

@keyframes txt-appearance {
  from {
    color: transparent;
  }

  to {
    color: #FAF6EC;
  }
}

@media screen and (max-width: 480px) {
  .home_container {
    margin: 20em 10%;
  }
}
