.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 50px;
  width: 100vw;
  
  

  &_container--nav {
    display: flex;
    align-items: center;  
    align-self: flex-start;
  }

  &_background {
    background-color: black;
    top: -50px;
    color: white;
    transform: translate3d(0, 100%, 0);
    transition: transform .3s cubic-bezier(0.215, 0.61, 0.355, 1);
    
  }
}

nav {
  display: flex;
  flex-wrap: wrap;
  
  /* margin-right: 1em; */
}

nav li {
  list-style: none;
}
