.cursor--no {
  display: none;
}

.cursor {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 1000;
  transform: translate(-50%, -50%);
  transition: .08s;
  
  &--backdrop {
    backdrop-filter: grayscale(100%);
    width: 70px;
    height: 70px;
  }
}
