.cursor--no {
  display: none;
}

.cursor {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  z-index: 1000;
  // transition-duration: 70ms;
  // transition-timing-function: ease-out;

}
