.background {
  background-color: #663D39;
}

.section_serviceSkill {
  animation: displaySection 600ms ease-in;
  padding: 4em 2em;

  &--notvisibile {
    opacity: 0;
    animation: hiddenSection 600ms ease-in;
  }

}

.flexContainer {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.section_service {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 60px;
  // flex-wrap: wrap;

  & > * {
    flex-basis: 100%;
  }
}

.service_card {
  display: flex;
  flex-direction: column;
  max-width: 45%;
  min-height: 400px;
  background-color: #362724ce;
  border-bottom-right-radius: 60px;
  padding: 1.5em;
  gap: 20px;
  position: relative;
  z-index: 1;
  // box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.712);

  & p {
    font-size: 1.3em;
    font-weight: 300;
  }

  & h3 {
    font-size: 2.2em;
    
  }

  & ul {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    // width: 90%;
    gap: 1em;
    margin-top: 2em;
    justify-content: flex-start;
    align-content: flex-end;
    font-size: 1.3em;

    & li {
      // border: solid 1px #FAF6EC;
      // height: 2em;
      // line-height: 1.5em;
      // border-radius: 100vw;
      // padding: 0.3em 0.7em;

    }

  }

  &::after {
    content: '';
    border-bottom-right-radius: 60px;
    top: 0;
    left: 0;
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #faf6ec09;    
    transition: .3s ease-in-out;
    
  }

  &:hover::after {
    background-color: transparent;
    
  }

 &_title {
  font-size: 2em;
  word-break: break-word;
  // margin-bottom: 1em;
 }
}

.toto {
  
}

.separator {
  width: 98%;
  height: 1px;
  background-color: #FAF6EC;
}

@keyframes displaySection {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0.25;
  }


  100% {
    opacity: 1;
  }
  
}

@keyframes hiddenSection {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0;
  }


  100% {
    opacity: 0;
  }
  
}

@media screen and (max-width: 750px) {
  .section_service {
    flex-wrap: wrap;
  }

  .section_serviceSkill {
    padding: 4em 2%;
  }

  .service_card {
    max-width: 90%;
  }
}

