.section_serviceSkill {
  margin-bottom: 4em;
  animation: displaySection 600ms ease-in;

  &--notvisibile {
    opacity: 0;
    animation: hiddenSection 600ms ease-in;
  }
}

.flexContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section_service {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
  // flex-wrap: wrap;

  & > * {
    flex-basis: 100%;
  }
}

.service_card {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  min-height: 400px;
  background-color: #362724ce;
  border-bottom-right-radius: 60px;
  padding: 1.5em;
  gap: 20px;
  position: relative;
  z-index: 1;
  // box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.712);

  & p {
    font-size: 1.3em;
  }

  & h3 {
    font-size: 2.2em;
    text-transform: uppercase;
  }

  & ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    margin-top: 2em;
    justify-content: space-around;
    align-content: center;
    font-size: 1.8em;

  }

  &::after {
    content: '';
    border-bottom-right-radius: 60px;
    top: 0;
    left: 0;
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #faf6ec09;    
    transition: .3s ease-in-out;
    
  }

  &:hover::after {
    background-color: transparent;
    
  }

 &_title {
  font-size: 2em;
  word-break: break-word;
  // margin-bottom: 1em;
 }
}

.separator {
  width: 98%;
  height: 1px;
  background-color: #FAF6EC;
}

@keyframes displaySection {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0.25;
  }


  100% {
    opacity: 1;
  }
  
}

@keyframes hiddenSection {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0;
  }


  100% {
    opacity: 0;
  }
  
}

@media screen and (max-width: 600px) {
  .section_service {
    flex-wrap: wrap;
  }

  .service_card {
    max-width: 90%;
  }
}

